# Supabase - Reemplaza con tus credenciales reales
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-public-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here


# # Base de datos PostgreSQL
# DATABASE_URL=postgresql://postgres:M.,D]-j^;cmt0@[&YUAx@db.vrmjvnempqsnkiydsoxc.supabase.co:5432/postgres

# Firebase
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

# JWT
SECRET_KEY=tu_secret_key_aqui
ALGORITHM=HS256

# API
API_PREFIX=/api/v1
PROJECT_NAME=RackIQ API

# Entorno
ENVIRONMENT=development
DEBUG=True
