# Base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@host:5432/nombre_db

# Firebase
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

# JWT
SECRET_KEY=tu_secret_key_aqui
ALGORITHM=HS256

# API
API_PREFIX=/api/v1
PROJECT_NAME=RackIQ API

# Entorno
ENVIRONMENT=development
DEBUG=True
