# Base de datos
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/rackiq_db

# Firebase
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

# Seguridad
SECRET_KEY=rackiq-super-secret-2026  # Cambiar en producción

# API
PROJECT_NAME=RackIQ API
API_PREFIX=/api/v1
